@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
} */

body {
  background: var(--background);
  font-family: 'IBM Plex Sans Thai', Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-image:
  url(../public/image/GroupBg1.png),
  url(../public/image/GroupBg2.png),
  url(../public/image/GroupBg3.png),
  url(../public/image/GroupBg4.png);
  background-position:
    top 60rem left 0,
    top 90rem right 0,
    bottom 117rem left 0,
    bottom 40rem right 0;
  background-size: 
    15rem 20rem   
    15rem 20rem,    
    15rem 20rem,     
    15rem 20rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}